@charset "utf-8";

body {
    font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 60px 50px;
}



code .comment { color: #ddd }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }

.hidden {
    display: none;
}

@media screen and (max-device-width: 480px) {
  body {
    padding: 60px 0px;
  }

  #stats {
    position: absolute;
  }
}